body {
    background-color: lightgray;
  }
  
  nav {
    background-color: darkblue;
    padding: 3%;
  }
  
  a {
    margin: 0 12.6%;
  }
  
  a {
    color: white;
  }
  
  main {
    margin-right: 15%;
  }
  
  .blog {
    margin-left: 1.5%;
  }
  
  img {
    width: 30%;
  }
  
  video {
    width: 35%;
  }
  
  .statue {
    margin-left: 2%;
  }
  
  .border {
    border: 3px solid darkblue;
    margin-top: 2.4%;
    padding: 3.9% 2%;
  }
  
  ol {
    margin-bottom: 0;
  }
  
  .NYC {
    margin-left: 2.2%; 
    margin-top: 1%;
  }
  
  .media2 {
    margin-left: 2.7%;
    margin-top: 3%; 
    margin-bottom: 8%;
  }
  
  video, .image2 {
    margin-bottom: 2%;
  }
  
  audio {
    width: 100%;
  }
  
  footer {
    background-color: darkblue;
    padding: 0.1%;
  }
  
  .posted, .contact {
    color: white;
    text-align: center;
  }
  
  .posted {
    margin-bottom: 2%;
    margin-top: 0.5%;
  }
  
  .contact {
    margin-bottom: 0.5%;
  }
  